{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<main class="main-content">
    <h2 class="texto-centro">
        Rellena el formulario para aplicar a nuestra empresa
    </h2>

    <form method="POST" class="form">
        {% csrf_token %}
        
        {{ persona_form.non_field_errors }}
        {{ solicitud_form.non_field_errors }}

        <label for="{{ persona_form.nombre.id_for_label }}">Nombre:</label>
        {{ persona_form.nombre }}

        <label for="{{ persona_form.apellido.id_for_label }}">Apellido:</label>
        {{ persona_form.apellido }}

        <label for="{{ persona_form.cedula.id_for_label }}">Cédula:</label>
        {{ persona_form.cedula }}

        <label for="{{ persona_form.correo.id_for_label }}">Correo:</label>
        {{ persona_form.correo }}

        <label for="{{ solicitud_form.mensaje.id_for_label }}">Capacidades:</label>
        {{ solicitud_form.mensaje }}

        <button type="submit" class="buttonformB">Enviar solicitud</button>
    </form>
</main>
{% endblock %}