{% extends 'base.html' %}
{% load static %}

{% block title %} Categorías {% endblock %}

{% block content %}
<main class="main-content">
    <h1 class="texto-centro">Categorías en las que puedes aplicar</h1>
    <div class="cards-container">
        {% for categoria in categorias %}
        <div class="card">
            <img src="{% static 'img/Logo.jpg' %}" alt="Imagen">
            <h2>{{ categoria.nombre }}</h2>
            <p class="card-content">{{ categoria.descripcion }}</p>
            <p>Salario base: {{ categoria.salario_base }}</p>
        </div>
        {% empty %}
        <p class="texto-centro">No hay categorías registradas aún.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}
